<header class="header">
  <div class="container header__container">
    <a class="logo container__logo link" href="./index.html" lang="en">
      <span class="logo__blue">Web</span>Studio</a
    >

    <button class="menu-btn" type="button" aria-expanded="false" data-menu-button>
      <svg
        class="menu-btn_icon"
        width="40px"
        height="40px"
        aria-label="переключатеть мобильного меню"
      >
        <use class="icon-cross" href="./images/icons.svg#close"></use>
        <use class="icon-menu" href="./images/icons.svg#menu"></use>
      </svg>
    </button>

    <nav class="nav">
      <ul class="nav__list list">
        <li class="nav__item">
          <a class="nav__link link nav__link--current" href="./index.html">Студия</a>
        </li>
        <li class="nav__item">
          <a class="nav__link link" href="">Портфолио</a>
        </li>
        <li class="nav__item"><a class="nav__link link" href="">Контакты</a></li>
      </ul>
    </nav>

    <ul class="contacts list">
      <li class="contacts__mail">
        <a class="contacts__link link" href="mailto:">
          <svg class="contacts__icon" width="16" height="12">
            <use href="./images/icons.svg#envelope-hover"></use>
          </svg>
          info@devstudio.com</a
        >
      </li>
      <li class="contacts__tel">
        <a class="contacts__link link" href="tel:+380961111111">
          <svg class="contacts__icon" width="10" height="16">
            <use href="./images/icons.svg#smartphone"></use>
          </svg>
          +38 096 111 11 11</a
        >
      </li>
    </ul>
  </div>
</header>
